.podium {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
  margin: 15px auto 0 auto;
  max-width: 450px;
  padding: 0 15px;

  [class^='top-'] {
    width: 33%;

    .paw {
      display: block;
      height: 50px;
      margin: 0 auto -10px auto;
      position: relative;
      z-index: 2;
    }

    .img-container {
      border-radius: 13px;
      box-shadow: var(--box-shadow);

      img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .votes span {
      background-color: #fff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &.top-2 {
      .img-container {
        background: linear-gradient(142deg, #FFF 7.49%, #999 87.09%);
        height: 87px;
        padding: 5px;
      }

      .votes span {
        background-image: linear-gradient(89deg, #FFF 0.8%, #999 117.36%);
      }
    }

    &.top-1 {
      .img-container {
        background: linear-gradient(144deg, #F4DCAC 26.48%, #8E8064 104.8%);
        height: 148px;
        padding: 5px;
      }

      .votes span {
        background-image: linear-gradient(90deg, #D9C59F 0%, #9C8C6E 100%);
      }
    }

    &.top-3 {
      .img-container {
        background: linear-gradient(304deg, #956A44 24.57%, #F0A869 67.3%);
        height: 67px;
        padding: 5px;
      }

      .votes span {
        background-image: linear-gradient(90deg, #F0A96A 0%, #8A613D 100%);
      }
    }
  }
}

.votes {
  background-color: var(--color-black);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  font-size: 14px;
  margin: -12px auto 0 auto;
  padding: 5px 15px;
  position: relative;
  text-align: center;
  width: fit-content;
  word-break: break-word;
  z-index: 2;
}

.page-img-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 450px;
  margin: 25px auto;
  padding: 0 15px;

  .item {
    position: relative;

    .position {
      aspect-ratio: 1 / 1;
      align-items: center;
      background: var(--color-black);
      border-radius: 20px;
      box-shadow: var(--box-shadow);
      display: flex;
      font-size: 14px;
      height: 25px;
      justify-content: center;
      position: absolute;
      right: -5px;
      top: -5px;
    }

    .img-container {
      img {
        aspect-ratio: 1/1;
        border-radius: 23px;
        border: 5px solid #fff;
        box-shadow: var(--box-shadow);
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

.paging-numbers {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  padding: 0 20px;

  li {
    align-items: center;
    background-color: #4299FF;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    display: flex;
    font-size: 15px;
    height: 30px;
    justify-content: center;
    width: 30px;

    &.active {
      background-color: var(--color-black);
    }
  }
}
