<app-header></app-header>
<h1 class="title">Le classement</h1>

@if (catsWithVotes.length) {
  <div class="podium">
    @for (position of [1, 0, 2]; track $index) {
      <div class="top-{{position + 1}}">
        <img src="assets/images/podium/top-{{ position + 1 }}.svg" alt="" class="paw">
        <div class="img-container">
          <img src="{{catsWithVotes[position].url}}" alt="">
        </div>
        <p class="votes">
          <span>{{catsWithVotes[position].vote}} vote{{ catsWithVotes[position].vote > 0 ? 's' : ''}}</span>
        </p>
      </div>
    }
  </div>
}

@if (catsInCurrentPage.length) {
  <div class="page-img-container">
    @for (cat of catsInCurrentPage; track cat.id) {
      <div class="item">
        <p class="position">{{(currentPage - 1) * catsPerPage + ($index + 1) + 3 }}</p>
        <div class="img-container">
          <img src="{{cat.url}}" alt="">
        </div>
        <p class="votes">{{cat.vote}} vote{{ cat.vote > 0 ? 's' : ''}}</p>
      </div>
    }
  </div>

  <ul class="paging-numbers">
    @for (p of [].constructor(totalPages); track $index) {
      <li (click)="updatePaging($index + 1)" [ngClass]="{'active': $index + 1 == currentPage}">
        {{$index + 1}}
      </li>
    }
  </ul>
}

@if (errorApi) {
  <p class="error-message">Une erreur est survenue</p>
}

<div>
  <a routerLink="/" class="cta">Votez pour les chats</a>
</div>
