h1,
h2 {
  background-color: #343434;
  border-radius: 50px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  margin: auto;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-2deg);
  width: max-content;
  z-index: 2;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 13px;
  margin-top: -10px;

  span {
    background-color: #fff;
    background-image: linear-gradient(88deg, #FFCA42 46.31%, #FF38EB 98.05%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.versus-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  z-index: 1;

  &:after {
    content: '';
    width: 115px;
    height: 84px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../../assets/images/icons/versus.svg');
  }

  img {
    user-select: none;
    aspect-ratio: 1/1;
    max-width: 295px;
    object-fit: cover;
    border: 11px solid #fff;
    border-radius: 50px;
  }
}

.see-ranking a {
  background: linear-gradient(90deg, #FF38EB -7.53%, #FFCA42 99.78%);
  border-radius: 50px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.25);
  color: #fff;
  display: block;
  margin: 20px auto;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  width: max-content;
}
