:host {
  text-align: center;
}

.container {
  padding: 0 15px;
}

h1,
h2 {
  margin-top: 30px;
}

h1 {
  font-size: 45px;
  text-transform: uppercase;
}

img {
  display: block;
  margin: 25px auto;
  max-width: 273px;
  width: 100%;
}

h2 {
  font-size: 25px;
}

p {
  margin-top: 10px;
}

.cta {
  margin-top: 30px;
}
